<!-- <small>
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a routerLink="/" ariaCurrentWhenActive="page" class="nav-link">Collection</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Modern Art</li>
	</ol>
  </nav>
</small> -->

<div class="row gy-3">
    <div class="col-12 col-md-5 col-lg-5 col-xxl-7">
        <!-- <div class="sticky-filter text-center">
            <img src="assets/square-csm.jpg" class="img-fluid rounded viewport"/>
        </div> -->

        <div id="carouselExample" class="carousel slide sticky-filter">
          <div class="carousel-inner rounded">
            <div class="carousel-item active">
              <img src="assets/square-csm.jpg" class="d-block w-100 viewport" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/square-csm.jpg" class="d-block w-100 viewport" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/square-csm.jpg" class="d-block w-100 viewport" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

    </div>
    <div class="col-12 col-md-7 col-lg-7 col-xxl-5">
        <h4 class="font-600 mb-0">Chhatrapati Shivaji Maharaj</h4>
        <small class="text-muted">3 frames set</small>
        <div class="my-3">
          <h4 class="mb-0 font-600">₹ 999</h4>
          <small class="text-success font-600">inclusive of all taxes</small>
        </div>

        <div class="font-600 mb-1">Colour</div>
        <div class="row g-2">
          
          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="colours" id="flexRadioDefault1">
              <label class="form-check-label p-2 rounded border border-muted" for="flexRadioDefault1">
                <div class="d-flex">
                  <span class="dot me-1 bg-black"></span>
                  <small class="align-self-center">Black</small>
                </div>
              </label>
            </div>
          </div>

          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="colours" id="flexRadioDefault2">
              <label class="form-check-label p-2 rounded border border-muted" for="flexRadioDefault2">
                <div class="d-flex">
                  <span class="dot me-1 bg-warning"></span>
                  <small class="align-self-center">Golden</small>
                </div>
              </label>
            </div>
          </div>

          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="colours" id="flexRadioDefault3">
              <label class="form-check-label p-2 rounded border border-muted" for="flexRadioDefault3">
                <div class="d-flex">
                  <span class="dot me-1 bg-custom-gray"></span>
                  <small class="align-self-center">White</small>
                </div>
              </label>
            </div>
          </div>
  
        </div>

        <div class="font-600 mt-2 mb-1">Size</div>
        <div class="row g-2">
          
          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="size" id="size1">
              <label class="form-check-label p-2 rounded border border-muted" for="size1">
                <small>12 x 18 Inch</small>
              </label>
            </div>
          </div>

          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="size" id="size2">
              <label class="form-check-label p-2 rounded border border-muted" for="size2">
                <small>12 x 18 Inch</small>
              </label>
            </div>
          </div>

          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="size" id="size3">
              <label class="form-check-label p-2 rounded border border-muted" for="size3">
                <small>12 x 18 Inch</small>
              </label>
            </div>
          </div>

        </div>

        <div class="font-600 mt-2 mb-1">Border Size</div>
        <div class="row g-2 mb-3">
          
          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="borderSize" id="bordersize1">
              <label class="form-check-label p-2 rounded border border-muted" for="bordersize1">
                <small>12 x 18 Inch</small>
              </label>
            </div>
          </div>

          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="borderSize" id="bordersize2">
              <label class="form-check-label p-2 rounded border border-muted" for="bordersize2">
                <small>12 x 18 Inch</small>
              </label>
            </div>
          </div>

          <div class="col-auto">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="borderSize" id="bordersize3">
              <label class="form-check-label p-2 rounded border border-muted" for="bordersize3">
                <small>12 x 18 Inch</small>
              </label>
            </div>
          </div>


        </div>

        <div class="font-600 mt-2 mb-1">Frame</div>
        <div class="row g-2 mb-3">
          
          <div class="col-2">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="frameBorder" id="frameType1">
              <label class="form-check-label p-1 border border-muted" for="frameType1">
                <img src="assets/frameBorder.jpg" class="img-fluid"/>
              </label>
            </div>
          </div>

          <div class="col-2">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="frameBorder" id="frameType2">
              <label class="form-check-label p-1 border border-muted" for="frameType2">
                <img src="assets/frameBorder.jpg" class="img-fluid"/>
              </label>
            </div>
          </div>

          <div class="col-2">
            <div class="form-check px-0">
              <input class="form-check-input shadow-none" type="radio" name="frameBorder" id="frameType3">
              <label class="form-check-label p-1 border border-muted" for="frameType3">
                <img src="assets/frameBorder.jpg" class="img-fluid"/>
              </label>
            </div>
          </div>


        </div>

        <div class="row gx-2 py-2 bg-white sticky-bottom">
          <div class="col"><button class="col-12 btn btn-outline-dark border"><small>Buy Now</small></button></div>
          <div class="col"><button class="col-12 btn btn-outline-dark border"><small>Add to Cart</small></button></div>
        </div>
        

    </div>  
</div>