
	<div class="d-flex justify-content-center">
		<div class="text-center me-1">
			<a class="nav-link" routerLink="/category/god" ariaCurrentWhenActive="page">
				<div><img src="assets/lord-shiva.jpg" class="img-fluid myimage filter-image-width rounded" /></div>
				<small routerLinkActive="font-600">God</small>
			</a>
		</div>

		<div class="text-center me-1">
			<a class="nav-link" routerLink="/category/nature" ariaCurrentWhenActive="page">
				<div><img src="assets/nature.jpg" class="img-fluid filter-image-width rounded" /></div>
				<small routerLinkActive="font-600">Nature</small>
			</a>
		</div>
		<div class="text-center me-1">
			<a class="nav-link" routerLink="/category/idols" ariaCurrentWhenActive="page">
				<div><img src="assets/chhatrapati-shivaji-maharaj.jpg" class="img-fluid filter-image-width rounded" />
				</div>
				<small routerLinkActive="font-600">Idols</small>
			</a>
		</div>
		<div class="text-center">
			<a class="nav-link" routerLink="/category/modernart" ariaCurrentWhenActive="page">
				<div><img src="assets/modern-art.jpg" class="img-fluid filter-image-width rounded" /></div>
				<small routerLinkActive="font-600">Modern Art</small>
			</a>
		</div>
	</div>
	<router-outlet></router-outlet>
