<!-- <div class="my-3">
    <app-products></app-products>
</div> -->

<!-- <div class="d-flex justify-content-end">
	<div class="text-end">
		<small>Search from Collection</small>
		<div class="input-group" id="specific-search">
			<input type="text" class="form-control border-0 shadow-none bg-custom-gray rounded-2 py-2 me-1" placeholder="Browse..." aria-label="Browse..." aria-describedby="button-addon2">
			<button class="btn bg-black border-0 shadow-none rounded-2" type="button" id="button-addon2">
				<code>
					<svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Search_Magnifying_Glass"> <path id="Vector" d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z" stroke="#ffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
				</code>
			</button>
		</div>
	</div>
</div> -->

<!-- <input type="text" name="search" placeholder="Search.." class="form-control border-0 shadow-none bg-custom-gray rounded-2 py-2"> -->


<small>
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item"><a routerLink="/" ariaCurrentWhenActive="page" class="nav-link">Collection</a></li>
	  <li class="breadcrumb-item active" aria-current="page">Modern Art</li>
	</ol>
  </nav>
</small>

<div class="d-flex justify-content-end border-0 shadow-none mb-2 mb-sm-0" id="category_search">
	<input type="text" class="form-control border border-start-0 border-top-0 border-end-0 shadow-none px-0 rounded-0 me-2" placeholder=" Search in collection" aria-label=" Search in collection" aria-describedby="button-addon2">
	<button class="btn btn-transparent border btn-sm rounded-2 shadow-none text-nowrap" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
		<code>
			<svg width="1.3rem" height="1.3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19 4V10M19 10C17.8954 10 17 10.8954 17 12C17 13.1046 17.8954 14 19 14M19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14M19 14V20M12 4V16M12 16C10.8954 16 10 16.8954 10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16ZM5 8V20M5 8C6.10457 8 7 7.10457 7 6C7 4.89543 6.10457 4 5 4C3.89543 4 3 4.89543 3 6C3 7.10457 3.89543 8 5 8Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
		</code>
		<span class="align-bottom">Filter</span>
	</button>
</div>

<!-- <div class="text-end">
	<button class="btn btn-transparent border btn-sm rounded-2 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
		<code>
			<svg width="1.3rem" height="1.3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19 4V10M19 10C17.8954 10 17 10.8954 17 12C17 13.1046 17.8954 14 19 14M19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14M19 14V20M12 4V16M12 16C10.8954 16 10 16.8954 10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16ZM5 8V20M5 8C6.10457 8 7 7.10457 7 6C7 4.89543 6.10457 4 5 4C3.89543 4 3 4.89543 3 6C3 7.10457 3.89543 8 5 8Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
		</code>
		<span class="align-bottom">Filters</span>
	</button>
</div> -->

<div class="my-3">

	<div class="row gy-3">

		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>
		<div class="col-6 col-md-3">
			<app-product></app-product>
		</div>

	</div>
</div>