<a href="/frame/1" target="_blank" class="nav-link">
    <div class="card border-0 mb-3">
        <img src="assets/one.jpg" loading="lazy" class="card-img-top rounded-2" alt="...">
        <div class="card-body px-1 pb-0 pt-1">
            <div class="card-text">
                <div class="font-600">Chhatrapati Shivaji Maharaj</div>
            </div>
        </div>
        <div class="card-footer border-0 bg-transparent px-1 py-0">
            <small>₹ 1050</small>
        </div>
    </div>
</a>