<app-navbar></app-navbar>
<div class="container-xxl nav-content-margin">
  <router-outlet></router-outlet>
</div>
<!-- 
<div class="bg-success container-sm">100% wide until small breakpoint</div>
<div class="bg-success container-md">100% wide until medium breakpoint</div>
<div class="bg-success container-lg">100% wide until large breakpoint</div>
<div class="bg-success container-xl">100% wide until extra large breakpoint</div>
<div class="bg-success container-xxl">100% wide until extra extra large breakpoint</div> -->