<div class="scrollable-div mb-5 pb-2">
    <div class="d-flex flex-nowrap">

        <div class="card border-0 me-4" *ngFor='let in of counter(8)'>
            <a routerLink="/frame/1" class="nav-link">
                <img src="assets/one.jpg" loading="lazy" class="card-img-top rounded-2" alt="...">
                <div class="card-body p-1">
                    <div class="card-text">
                        <div class="font-600">Chhatrapati Shivaji Maharaj</div>
                        <small>₹ 1050</small>
                    </div>
                </div>
            </a>
        </div>
        <div>&nbsp;
        </div>
    </div>
</div>