<!-- <app-products></app-products> -->

<div class="d-flex justify-content-end mb-3">
	<button class="btn btn-transparent border btn-sm rounded-2 me-2 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
		<code>
            <svg width="1.3rem" height="1.3rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19 4V10M19 10C17.8954 10 17 10.8954 17 12C17 13.1046 17.8954 14 19 14M19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14M19 14V20M12 4V16M12 16C10.8954 16 10 16.8954 10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16ZM5 8V20M5 8C6.10457 8 7 7.10457 7 6C7 4.89543 6.10457 4 5 4C3.89543 4 3 4.89543 3 6C3 7.10457 3.89543 8 5 8Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
        </code>
		<span class="align-bottom">Filters</span>
	</button>
	<select class="form-select form-select-sm sort-menu-width shadow-none" aria-label=".form-select-sm example">
		<option selected>Relevance</option>
		<option>Price: Low to High</option>
		<option>Price: High to Low</option>
	</select>
</div>

<div class="mb-3">Showing results for <span class="font-600">{{productName}}</span></div>

<div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
	<div class="offcanvas-body pt-0">

		<div class="my-1 text-end">
			<button type="button" class="btn btn-transparent px-0 border-0 shadow-none" data-bs-dismiss="offcanvas" aria-label="Close">
				<small class="font-600">Back</small>
			</button>
		</div>

		<div class="accordion" id="accordionPanelsStayOpenExample">
			<div class="accordion-item border-0">
				<small class="text-muted">Price Range</small>
			  <div id="panelsStayOpen-collapseOne" class="accordion-collapse">
				<div class="accordion-body p-0">
					<div class="mb-3 d-flex justify-content-end">
						<select class="form-select form-select-sm shadow-none" aria-label=".form-select-sm example">
							<option selected>Min</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
						<div class="mx-2 align-self-center">To</div>
						<select class="form-select form-select-sm shadow-none" aria-label=".form-select-sm example">
							<option selected>Max</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>
					</div>
				</div>
			  </div>
			</div>
			<div class="accordion-item border-0">
			  <h2 class="accordion-header">
				<button class="accordion-button shadow-none border-0 ps-0 bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
				  Accordion Item #2
				</button>
			  </h2>
			  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
				<div class="accordion-body p-0">
				  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
				</div>
			  </div>
			</div>
			<div class="accordion-item border-0">
			  <h2 class="accordion-header">
				<button class="accordion-button shadow-none border-0 ps-0 bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
				  Accordion Item #3
				</button>
			  </h2>
			  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
				<div class="accordion-body p-0">
					<div class="input-group bg-custom-gray py-1 rounded mb-3">
						<input type="text" class="form-control border-0 shadow-none bg-transparent" placeholder="Search for products" aria-label="Search for products" aria-describedby="button-addon2">
						<button class="btn border-0 shadow-none" type="button" id="button-addon2">
							<code>
									<svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Search_Magnifying_Glass"> <path id="Vector" d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
								</code>
						</button>
					</div>
					
					<div class="row gy-2">
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
					
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
					
						<div class="col-6">
					
							<div class="form-check">
								<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
								<label class="form-check-label" for="flexCheckDefault">
									<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
									<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
									<div><small class="text-muted">236 Photos</small></div>
								</label>
							</div>
					
						</div>
					
					
					</div>
				</div>
			  </div>
			</div>
		  </div>

	</div>
</div>

<!-- <div class="input-group bg-custom-gray py-1 rounded mb-3">
	<input type="text" class="form-control border-0 shadow-none bg-transparent" placeholder="Search for products" aria-label="Search for products" aria-describedby="button-addon2">
	<button class="btn border-0 shadow-none" type="button" id="button-addon2">
		<code>
				<svg width="1.5rem" height="1.5rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="Interface / Search_Magnifying_Glass"> <path id="Vector" d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g> </g></svg>
			</code>
	</button>
</div>

<div class="row gy-2">
	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>
	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>


	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>


	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>


	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>

	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>


	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>


	<div class="col-6">

		<div class="form-check">
			<input class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				<img src="assets/lord-shiva.jpg" class="img-fluid rounded-2" />
				<div><small class="font-600">Chhatrapati Shivaji Maharaj</small></div>
				<div><small class="text-muted">236 Photos</small></div>
			</label>
		</div>

	</div>


</div> -->

<app-product-cards></app-product-cards>