:root,
body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
}

.font-500 {
    font-weight: 500 !important;
}

.font-600 {
    font-weight: 600 !important;
}

.search-bar-width {
    width: 29.4rem !important;
    max-width: 29.4rem !important;
}

.bg-custom-gray {
    background-color: rgb(239, 239, 239) !important;
}

.extra-small-text {
    font-size: x-small !important;
}

.cursor-pointer {
    cursor: pointer !important;
}


@media only screen and (max-width: 576px) {
    .xs-visible {
        display: unset !important;
    }

    .xs-invisible {
        display: none !important;
    }

    .nav-content-margin {
        margin-top: 7.5rem !important;
    }

    .scrollable-div::-webkit-scrollbar {
        display: none;
    }

    .sort-menu-width{
        width: 40% !important;
    }
}

@media only screen and (min-width: 576px) {
    .sm-visible {
        display: unset !important;
    }

    .sm-invisible {
        display: none !important;
    }

    .nav-content-margin {
        margin-top: 8rem !important;
    }

    .sort-menu-width{
        width: 30% !important;
    }
}

@media only screen and (min-width: 768px) {
    .md-visible {
        display: unset !important;
    }

    .md-invisible {
        display: none !important;
    }

    .nav-content-margin {
        margin-top: 6rem !important;
    }
}

@media only screen and (min-width: 992px) {
    .lg-visible {
        display: unset !important;
    }

    .lg-invisible {
        display: none !important;
    }

    .sort-menu-width{
        width: 14% !important;
    }
}

@media only screen and (min-width: 1200px) {
    .xl-visible {
        display: unset !important;
    }

    .xl-invisible {
        display: none !important;
    }
}

.scrollable-div {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: #929292 #ececec;
}

.scrollable-div::-webkit-scrollbar {
    height: 0.37rem;
}

.scrollable-div::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ececec;
}

.scrollable-div::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #b1b1b1;
}

.scrollable-div .card {
    flex: 0 0 auto;
    width: 18rem;
}

.filter-image-width {
    width: 6rem;
}

.sticky-filter {
    position: sticky;
    top: 2rem;
}

.category-img{
    width: 4.1rem;
}
